<%= form_for @conn, Routes.event_participant_path(@conn, :search, @event.id), fn f -> %>
  <div class="form-group">
    <%= label f, :email, "Enter your email" %>
    <%= email_input f, :email, class: "form-control" %>
  </div>

  <div>
    <%= submit "Search", class: "btn btn-primary" %>
  </div>
<% end %>
