<div class="row">
  <div class="col">
    <h2>Welcome!</h2>
    <%= if logged_in?(@conn) do %>
      <p>
        Create an event to get started, or use the link you received
        to RSVP to someone else's event.
      </p>
    <% else %>
      <p>
        Hello there, stranger! Login or register above to get started.
      </p>
    <% end %>
  </div>
</div>
