@import "~bootstrap/scss/bootstrap";
@import "~flatpickr/dist/flatpickr.min.css";

.invalid-feedback {
  display: block;
}

p.alert {
  margin-top: 10px;
}

.form-control.flatpickr-datetime {
  background-color: unset;
}

img {
  max-width: 100px;
  display: block;
}
